.app-container {
}
.body-wrapper {
  display: flex;
  flex-direction: column;
}

h1 {
}

.core-components-wrapper {
}
.inputs {
  justify-content: center;
}
.names-container {
}

.birth-names {
  font-size: 18px;
}

.stage-names {
  margin-left: 32px;
  font-size: 18px;
}

.inputs-container {
}

.name-delete {
  display: flex;
  flex-direction: row;
}
